<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Learning Vue</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles.css">
</head>

<body>

<h1 class="daStart"> Pop culture test </h1>
  <div id="root">
    <p> Type in the name of the following celebrities (all lower-case) </p>

    <div class="container">

      <div class="row">
        <div class="col">
          <label for="toggle">Check the small box on the right to reveal the image</label><input id="toggle" type="checkbox" />
          <img alt="placeholder" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Bradley_Cooper_%283699322472%29_%28cropped%29.jpg" height='325' width="400" />
        </div>
        <div class="col-5">
          <p></p>
          <p></p>
          <p></p>
          <p></p>

          <form v-on:submit.prevent="bradley">
            First name:<br>
            <input v-model="bradleyFirst" ></p>
            Last name:<br>
            <input v-model="bradleyLast" ></p>
            <button type="submit">Submit</button>
        </form>
        </div>
        <div class="col-2">

        </div>
      </div>

      <p></p>
      <p></p>
      <p></p>
      <p></p>

      <div class="row">
        <div class="col">
          <label for="toggle">Check the small box on the right to reveal the image</label><input id="toggle" type="checkbox" />
          <img alt="placeholder" src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Taylor_Swift_GMA_2012.jpg" height='325' width="400" />
        </div>
        <div class="col-5">
          <p></p>
          <p></p>
          <form v-on:submit.prevent="taylor">
            First name:<br>
            <input v-model="taylorFirst" ></p>
            Last name:<br>
            <input v-model="taylorLast" ></p>
            <button type="submit">Submit</button>
        </form>
        </div>
        <div class="col-2">

        </div>
      </div>

      <p></p>
      <p></p>
      <p></p>
      <p></p>

      <div class="row">
        <div class="col">
          <label for="toggle">Check the small box on the right to reveal the image</label><input id="toggle" type="checkbox" />
          <img alt="placeholder" src="https://c1.staticflickr.com/6/5030/5778162379_e0d4bfdac9_b.jpg" height='325' width="400" />
        </div>
        <div class="col-5">
          <p></p>
          <p></p>
          <form v-on:submit.prevent="morgan">
            First name:<br>
            <input v-model="morganFirst" ></p>
            Last name:<br>
            <input v-model="morganLast" ></p>
            <button type="submit">Submit</button>
        </form>
        </div>
        <div class="col-2">

        </div>
      </div>


      <p></p>
      <p></p>
      <p></p>
      <p></p>

      <div class="row">
        <div class="col">
          <label for="toggle">Check the small box on the right to reveal the image</label><input id="toggle" type="checkbox" />
          <img alt="placeholder" src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Mitt_Romney_at_2012_CPAC.jpg" height='325' width="400" />
        </div>
        <div class="col-5">
          <p></p>
          <p></p>
          <form v-on:submit.prevent="mitt">
            First name:<br>
            <input v-model="mittFirst" ></p>
            Last name:<br>
            <input v-model="mittLast" ></p>
            <button type="submit">Submit</button>
        </form>
        </div>
        <div class="col-2">

        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="toggle">Check the small box on the right to reveal the image</label><input id="toggle" type="checkbox" />
          <img alt="placeholder" src="https://farm2.staticflickr.com/1027/541212430_073f891623.jpg" height='325' width="400" />
        </div>
        <div class="col-5">
          <p></p>
          <p></p>
          <form v-on:submit.prevent="dwight">
            First name:<br>
            <input v-model="dwightFirst" ></p>
            Last name:<br>
            <input v-model="dwightLast" ></p>
            <button type="submit">Submit</button>
        </form>
        </div>
        <div class="col-2">

        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="toggle">Check the small box on the right to reveal the image</label><input id="toggle" type="checkbox" />
          <img alt="placeholder" src="https://farm9.staticflickr.com/8364/8303956494_efff67f4b4_b.jpg" height='325' width="400" />
        </div>
        <div class="col-5">
          <p></p>
          <p></p>
          <form v-on:submit.prevent="hugh">
            First name:<br>
            <input v-model="hughFirst" ></p>
            Last name:<br>
            <input v-model="hughLast" ></p>
            <button type="submit">Submit</button>
        </form>
        </div>
        <div class="col-2">

        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="toggle">Check the small box on the right to reveal the image</label><input id="toggle" type="checkbox" />
          <img alt="placeholder" src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Chris_Pratt_%2828556109022%29_%28cropped%29.jpg" height='325' width="400" />
        </div>
        <div class="col-5">
          <p></p>
          <p></p>
          <form v-on:submit.prevent="chris">
            First name:<br>
            <input v-model="chrisFirst" ></p>
            Last name:<br>
            <input v-model="chrisLast" ></p>
            <button type="submit">Submit</button>
        </form>
        </div>
        <div class="col-2">

        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="toggle">Check the small box on the right to reveal the image</label><input id="toggle" type="checkbox" />
          <img alt="placeholder" src="https://upload.wikimedia.org/wikipedia/commons/5/5b/Gal_Gadot_cropped_lighting_corrected_2b.jpg" height='325' width="400" />
        </div>
        <div class="col-5">
          <p></p>
          <p></p>
          <form v-on:submit.prevent="gal">
            First name:<br>
            <input v-model="galFirst" ></p>
            Last name:<br>
            <input v-model="galLast" ></p>
            <button type="submit">Submit</button>
        </form>
        </div>
        <div class="col-2">

        </div>
      </div>

    </div> <!-- last div -->

    <div class="fixed">
      Your score: {{scorez}}
    </div>
  </div>

  <div class="footer">
    <a href="https://github.com/BryceFuller1/CreativeProject3">My github</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script text="type/javascript" src="/script.js"></script>
</body>

</html>
